<div id="chatroom-title">
<h1>Chatroom</h1>

<div class="message-index " id= "chatrooms">
  <%= render partial: 'chatroom_form', locals: {chatroom: @chatroom} %>
</div>
<div id="chatroom-error"></div>

<ul id="chatroom-index">
   <% if @chatrooms.any? %>
     <%= render @chatrooms %>
   <% else %>
</ul>
<p> Be the first one to make a chatroom!</p>
<% end %>
</div>

